<h1>Listing Restaurants</h1>
<table class="table table-hover table-condensed">
   <thead>
     <tr>
       <td>Name</td>
       <td>Address</td>
       <td>Phone</td>
       <td>Website</td>
       <td colspan="3"></td>
     </tr>
   </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= restaurant.website %></td>
      <td><%= link_to "Show", restaurant_path(restaurant), class: "btn btn-link" %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
      <td><%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-link" %>